<section class="service-detail" *ngIf="service">
  <div class="container">
    <!-- Service Header -->
    <div class="service-header">
      <img src="../../../../assets/aboutimg.jpg" alt="{{ service?.name }}" class="service-image">
      <div class="service-content">
        <h2>{{ service?.name }}</h2>
        <p *ngFor="let point of service?.details">- {{ point }}</p>
      </div>
    </div>

    <div class = "">
      <app-other-services [serviceId]="service?.id"></app-other-services>
    </div>
  </div>
</section>

<!-- Əgər `service` tapılmasa, mesaj göstər -->
<section *ngIf="!service" class="not-found">
  <h2>Xidmət tapılmadı!</h2>
  <p>Görünən odur ki, bu xidmət mövcud deyil.</p>
</section>
