<div class="wrapper">
  <section class="blog-details">
    <div class="container">

      <!-- Yükləmə Məlumatı -->
      <div *ngIf="isLoading">
        <p>Loading blog details...</p>
      </div>

      <!-- Xəta Mesajı -->
      <div *ngIf="errorMessage">
        <p class="error">{{ errorMessage }}</p>
      </div>

      <!-- Blog Məlumatları -->
      <div *ngIf="blog && !isLoading" class="blog-content-wrapper">
        <div class="bd-img">
          <img [src]="blog.coverImage" [alt]="blog.title" class="blog-image">
        </div>
        <div class="bd-content">
          <h2 class="blog-title">{{ blog.title }}</h2>
          <p class="blog-author">By {{ blog.author }}</p>
          <p class="blog-description">{{ blog.description }}</p>
          <p class="blog-text">{{ blog.text }}</p>
          <p class="blog-views"><i class="fa fa-eye"></i> {{ blog.viewCount }} Views</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Digər bloqlar bölməsi -->
  <app-other-blogs [blogId]="blog?.id"></app-other-blogs>
</div>
