<div class="wrapper">

  <section class="blog-details">
    <div class="container">
      <div class="bd-img w-[40%]">
        <img src="../../../../assets/aboutimg.jpg" alt="{{ blog?.title }}" class="blog-image">
      </div>
      <div class="bd-content w-[60%]">
        <h2 class="blog-title md:!text-[36px]">{{ blog?.title }}</h2>
        <p class="blog-author">By {{ blog?.author }}</p>
        <p class="blog-content">{{ blog?.content }}</p>
      </div>
    </div>
  </section>

  <app-other-blogs [blogId]="blog?.id"></app-other-blogs>

</div>
