<div class="wrapper">
  <section class="blog-details">
    <div class="container">
      <div *ngIf="isLoading">
        <p>Loading blog details...</p>
      </div>

      <div *ngIf="errorMessage">
        <p class="error">{{ errorMessage }}</p>
      </div>

      <div *ngIf="blog && !isLoading">
        <div class="bd-img w-[40%]">
          <img src="{{ blog.coverImage }}" alt="{{ blog.title }}" class="blog-image">
        </div>
        <div class="bd-content w-[60%]">
          <h2 class="blog-title md:!text-[36px]">{{ blog.title }}</h2>
          <p class="blog-author">By {{ blog.author }}</p>
          <p class="blog-content">{{ blog.text }}</p>
        </div>
      </div>
    </div>
  </section>

<!--  <app-other-blogs [blogId]="1"></app-other-blogs>-->
</div>
