<section class="other-blogs" *ngIf="filteredBlogs.length > 0">
  <div class="container">
    <h3 class="section-title">OTHER BLOGS</h3>

    <div class="blogs-grid">
      <div
        class="blog-card"
        *ngFor="let blog of filteredBlogs"
        (click)="navigateToDetail(blog)"
      >

          <img src="{{ blog.coverImage }}" alt="{{ blog.title }}" class="blog-image">

        <div class="blog-content">
          <p class="blog-author">{{ blog.author }}</p>
          <h4 class="blog-title h-[30px] !text-[1em]">{{ blog.title }}</h4>
          <div class="blog-tags mt-8 overflow-hidden text-ellipsis">
            <span class="tag law">Law</span>
            <span class="tag company">Hüquq şirkəti</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
