<section class="other-blogs" *ngIf="filteredBlogs.length > 0">
  <div class="container">
    <h3 class="section-title">OTHER BLOGS</h3>

    <div class="blogs-grid">
      <div class="blog-card"
           *ngFor="let blog of filteredBlogs"
           (click)="navigateToDetail(blog)">
        <div class="blog-image-container">
          <img [src]="blog.coverImage" [alt]="blog.title" class="blog-image">
        </div>
        <div class="blog-content">
          <p class="blog-author">{{ blog.author }}</p>
          <h4 class="blog-title">{{ blog.title }}</h4>
          <p class="blog-description">{{ blog.description?.slice(0, 100) }}...</p>
          <p class="blog-views"><i class="fa fa-eye"></i> {{ blog.viewCount }} Views</p>
        </div>
      </div>
    </div>
  </div>
</section>
