<section class="blog">
  <div class="container">
    <h2 class="section-title">LEGAL ARTICLES AND NEWS</h2>
    <p class="section-description">
      In our blog, you can find information about interesting legal research, analysis of changes in legislation,
      and other legal news.
    </p>

    <div *ngIf="isLoading; else blogList">
      <p>Loading blogs...</p>
    </div>

    <ng-template #blogList>
      <div class="blog-grid">
        <div
          class="blog-card"
          *ngFor="let blog of blogs"
          (click)="navigateToDetail(blog)">
          <div class="blog-img">
            <img [src]="blog.coverImage" alt="{{ blog.title }}" class="blog-image">
          </div>
          <div class="blog-content">
            <p class="blog-author">Elmar Bayarov</p>
            <h3 class="blog-title">{{ blog.title }}</h3>
            <p class="blog-description">{{ blog.description?.slice(0, 100) }}...</p>
            <p class="blog-views"><i class="fa fa-eye"></i> {{ blog.viewCount }} Views</p>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</section>
