.container{
  width: 80%;
  margin: auto;
  padding: 36px 0;
}
.blog-grid{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 15px 10px ;
}
.blog-card {
  width: 335px;
  height: 500px;
  background-color: #F4F4F5 ;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  transition: all .3s;
  cursor: pointer;
}
.blog-card img{transition: all .3s;}
.blog-card:hover img{
  scale: 1.1;
}
.blog-img{
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.blog-img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-content{padding: 10px 15px;}
.blog-author{
  font-family:  Poppins, Arial, sans-serif;
  font-size: 0.9em;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #636363;
}
.blog-title{
  font-size: 1.2em;
  font-weight: 600;
  line-height: 25px;
  color: #333;
}
.blog-tags{
  display: flex;
  align-items: center;
  gap: 10px;
}
.blog-tags span{
  background-color: #006624;
  color: #fff;
  padding: 6px 8px;
  border-radius: 4px;
}
.section-title{
  text-align: center;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: 700;
}
.section-description{
  text-align: center;
  line-height: 1.4;
  letter-spacing: 1px;
  font-size: 1em;
  font-weight: 400;
  color: #636363;
}
@media only screen and (min-width:992px) {
  .blog-grid{flex-direction: row;}
}