<section class="services">
  <div class="container">
    <h2 class="section-title">OUR SERVICES</h2>
    <p class="section-description">
      We provide professional legal services tailored to meet your needs. Explore our expertise.
    </p>

    <div class="services-grid">
      <div
        class="service-card"
        *ngFor="let service of services"
        (click)="navigateToDetail(service)"
      >
        <div class="service-image" style="background: url(../../../../assets/home-1.jpg) center/cover;" ></div>
        <div class="service-overlay">
          <h3 class="service-title">{{ service.name }}</h3>
        </div>
      </div>
    </div>
  </div>
</section>
