<footer class="footer">
  <div class="container w-[90%] !m-auto">
    <div class="footer-content gap-6 flex flex-col md:flex-row items-start !justify-between py-3">
      <!-- Logo və Əlaqə Məlumatları -->
      <div class="footer-section flex flex-col items-start justify-start">
        <div class="logo">
          <span class="logo-text">Elmar Bayarov</span>
        </div>
        <br>
        <p class="contact-info text-[1.2em] text-[#a1a1aa] font-[400]"><a href="mailto:elmarbayarov@gmail.com" class="text-[#9b9b9b] text-[.9em] hover:text-[#CCA876]">{{email}}</a></p>
        <p class="contact-info text-[1.2em] text-[#a1a1aa] font-[400]">+994 10 221 03 23</p>
        <p class="contact-info text-[1.2em] text-[#a1a1aa] font-[400]">+994 50 781 89 76</p>
      </div>

      <!-- Quick Links -->
      <div class="footer-section flex flex-col items-start justify-center">
        <h4 class="footer-title text-[1.3em]">Quick Links</h4>
        <ul class="footer-links">
          <li class="flex items-center gap-2 text-[1.2em] py-2"><i class="duration-500 text-[#CBA876] fa-solid fa-chevron-right"></i><a routerLink="/about">About Us</a></li>
          <li class="flex items-center gap-2 text-[1.2em] py-2"><i class="duration-500 text-[#CBA876] fa-solid fa-chevron-right"></i><a routerLink="/services">Services</a></li>
          <li class="flex items-center gap-2 text-[1.2em] py-2"><i class="duration-500 text-[#CBA876] fa-solid fa-chevron-right"></i><a routerLink="/blogs">Blog</a></li>
          <li class="flex items-center gap-2 text-[1.2em] py-2"><i class="duration-500 text-[#CBA876] fa-solid fa-chevron-right"></i><a routerLink="/contact">Contact Us</a></li>
        </ul>
      </div>

      <!-- Sosial Şəbəkələr -->
      <div class="footer-section flex flex-col gap-3 items-start justify-center">
        <h4 class="footer-title text-[1.2em]">Follow Me</h4>
        <p class="social-text text-[1.2em]">Follow me on social to get latest news</p>
        <div class="social-icons flex items-center gap-3">
          <a href="https://www.facebook.com" target="_blank"><i class="duration-300 text-[2em] fab fa-linkedin"></i></a>
          <a href="https://www.instagram.com/elmarbayarov?igsh=MTQ4MjI5NmR3ZHM3Yg==" target="_blank"><i class="duration-300 text-[2em] fab fa-instagram"></i></a>
          <a href="https://www.linkedin.com/in/elmar-bayarov-3206a7212?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="duration-300 text-[2em] fab fa-facebook"></i></a>
        </div>
        <a href="https://wa.me/994507818976" class="bg-[#006400] text-[1.2em] text-white py-3 px-4 rounded-[20px]">
          <i class="fab fa-whatsapp"></i> Contact us
        </a>
      </div>
    </div>

    <!-- Aşağı hissə (Copyright) -->
    <div class="footer-bottom py-4">
      <p>Developed by <a href="mailto:beyerovemil@gmail.com">Emil Bayarov</a></p>
      <p>	&copy;2025 All rights reserved</p>
    </div>
  </div>
</footer>
