.container{
  padding: 140px 50px 0 50px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-form h3{font-family: "PT Serif", "Times New Roman", Times, serif;;}
.cta-button {
  margin: 20px 0;
  padding: 15px 40px !important;
  border: 2px solid #D4B062;
  background: #D4B062;
  color: white;
  font-size: 16px;
  font-family: "Lato", Helvetica, Arial, sans-serif;;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
  border: 2px solid #B49465;
    background: #B49465;
  }
}
@media only screen and (min-width:768px) {
  .container{
    width: 90%;
  }
}