<div class="about bg-dark">
  <div class="background-overlay"></div>

  <div class="container">
    <div class="about-content justify-center md:justify-between">
      <div class="about-text flex flex-col items-start justify-center">
        <div class="border-box top-left"></div>
        <h3 class="!text-[45px] text-white text-center md:text-start whitespace-nowrap">About Me</h3>
        <div class="border-box bottom-right"></div>

        <blockquote class="quote text-white text-[.9em] leading-6 mt-[2.5em] text-center md:text-start">{{ quote }}</blockquote>

        <div class="person-info flex flex-col md:flex-row mt-[1em] pl-8">
          <p class="name text-white text-[1.2em] font-bold relative "> {{ name }},</p>
          <p class="title text-[#666c84] text-[14px] font-[300] italic">&nbsp;{{ title }}</p>
        </div>

        <button class="cta-button" (click)="scrollToSection('contact')">
          Request a Consultation
        </button>
      </div>

      <div class="about-image hidden md:flex items-center justify-end ">
        <div class="border-box top-left"></div>
        <img src="../../../assets/elmar.jpg"  alt="Professional lawyer portrait" class="portrait">
        <div class="border-box bottom-right"></div>
      </div>
    </div>
  </div>
</div>
