<div class="nav-cont">
<div class="top-bar hidden lg:block">
  <div class="container">
    <div class="contact-info flex items-center justify-center gap-5">
      <div><i class="text-[#CCA876] fas fa-phone "></i><a href="tel:#" class="text-[#9b9b9b] text-[.9em] hover:text-[#CCA876]">+994507818976 </a></div>
      <div><i class="text-[#CCA876] fas fa-envelope"></i><a href="mailto:elmarbayarov@gmail.com" class="text-[#9b9b9b] text-[.9em] hover:text-[#CCA876]">{{email}}</a>
      </div>
    </div>
    <div class="social-icons">
      <a href="https://www.facebook.com" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
      <a href="https://www.linkedin.com/in/elmar-bayarov-3206a7212?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://www.instagram.com/elmarbayarov?igsh=MTQ4MjI5NmR3ZHM3Yg==" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </div>

  </div>
</div>


<nav class="navbar">
  <div class="container">
    <div class="logo">
      <span class="logo-text" (click)="scrollToSection('home')"><a class="nav-item" routerLink="/home">Elmar Bayarov</a></span>
    </div>
    <div class="block lg:hidden">
      <input type="checkbox" id="mycheckbox" class="hidden">

      <!-- Toggle Butonu -->
      <div id="sss">
        <label (click)="toggleMenu()">
          <i class="fa-solid fa-bars text-2xl"></i>
        </label>
      </div>

      <!-- Mobil menyu -->
      <div id="ham-menu" [ngClass]="{'open': menuOpen}" class="w-[80%] !h-screen top-[100%] left-[-100%] duration-500 bg-white absolute">
        <div class="py-5 px-2">
          <button class="bars-btn !w-full" (click)="scrollToSection('contact'); closeMenu()">
            Contact Us
          </button>
        </div>
        <ul>
          <li class="bars-list-elem" (click)="scrollToSection('home'); closeMenu()">
            <span class="nav-item">Home</span>
          </li>
          <li class="bars-list-elem" (click)="scrollToSection('services'); closeMenu()">
            <span class="nav-item">Services</span>
          </li>
          <li class="bars-list-elem" (click)="scrollToSection('blogs'); closeMenu()">
            <span class="nav-item">Blogs</span>
          </li>
          <li class="bars-list-elem" (click)="scrollToSection('about'); closeMenu()">
            <span class="nav-item">About</span>
          </li>
        </ul>
      </div>
    </div>


    <div class=" items-center justify-center gap-5 hidden lg:flex">
      <ul class="nav-links">
        <li><span class="nav-item" (click)="scrollToSection('home')">Home</span></li>
        <li><span class="nav-item" (click)="scrollToSection('services')">Services</span></li>
        <li><span class="nav-item" (click)="scrollToSection('blogs')">Blogs</span></li>
        <li><span class="nav-item" (click)="scrollToSection('about')">About</span></li>
      </ul>
      <button class="appointment-btn" (click)="scrollToSection('contact')">Contact Me</button>
    </div>

  </div>
</nav>
</div>
