<section class="hero" role="banner">
  <!-- Slider Background -->
  <div
    class="hero__background"
    [ngStyle]="{ 'background-image': 'url(' + currentBackground + ')' }"
  ></div>
  <div class="hero__overlay"></div>

  <!-- Content -->
  <div class="hero__content">
    <div class="hero__subheading">
      <span class="hero__line"></span>
      <span>Hüquqi Məsləhətlər</span>
      <span class="hero__line"></span>
    </div>

    <h1 class="hero__title">
      Etibarlı və Effektiv<br />
      Hüquqi Dəstək
    </h1>

    <p class="hero__description">
      Hər bir müştəriyə fərdi yanaşma ilə hüquqlarınızı qorumağa və
      maraqlarınızı təmin etməyə kömək edirik.
    </p>

    <button class="hero__cta" (click)="scrollToSection('contact')">
      Müraciət Et
      <svg
        class="hero__cta-icon"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
        aria-hidden="true"
      >
        <path
          d="M10 0L8.59 1.41 16.17 9H0v2h16.17l-7.58 7.59L10 20l10-10z"
        />
      </svg>
    </button>
  </div>

  <!-- Slider Nav -->
  <button
    class="hero__nav hero__nav--prev"
    aria-label="Previous slide"
    (click)="prevSlide()"
  >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
      <path
        d="M12.41 16.59L11 18l-8-8 8-8 1.41 1.41L6.83 10z"
      />
    </svg>
  </button>
  <button
    class="hero__nav hero__nav--next"
    aria-label="Next slide"
    (click)="nextSlide()"
  >
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
      <path
        d="M7.59 3.41L9 2l8 8-8 8-1.41-1.41L13.17 10z"
      />
    </svg>
  </button>
</section>
